<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProdStarCommunicate.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ProdStarCommunicate.My.MySettings>
            <setting name="StartWithWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTask" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberPasswd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRecon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastID" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerHost" serializeAs="String">
                <value>chat.prodigyclassic.com</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>5300</value>
            </setting>
            <setting name="ClearText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AcceptUntrusted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPass" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPass" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="ChatColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ModernStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="UserFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
            </setting>
            <setting name="ClassicChat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReverseColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchShow" serializeAs="String">
                <value>True</value>
            </setting>
        </ProdStarCommunicate.My.MySettings>
    </userSettings>
</configuration>
